<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MERCADO LIEBRE</title>
</head>
<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" alt="">
        <nav>
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <ol>type=a</ol>
        </section>
        <section>

        </section>
    </main>
    <footer>

    </footer>
</body>
</html>